@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  background-color: white;
  font-size: 10px;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
body {
  height: auto;
  min-height: 100%;
  background-color: #fffee1;
}

#home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

#home-wrap {
  width: 100%;
  padding: 0 10rem;
}

#map {
  padding: 5rem 0;
  background-color: #FFFEE1;
}

.home-image {
  position: fixed;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  transform: translateZ(-10px) scale(2);
  transform-origin: bottom center;
  opacity: 10%;
}

#start {
  cursor: pointer;
  margin-top: 5rem;
  padding: 2rem 7rem;
  background-color: #173f2a;
  color: #fffee1;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  position: relative;
}
.center h1,
.center h2 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  height: 100vh;
  width: 100%;
}

#wrapper {
  height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
  perspective: 10px;
  -webkit-font-smoothing: antialiased;
  perspective-origin: bottom center;
  background-color: #002a0e;
  color: #fffee1;
  scroll-behavior: smooth;
}
#wrapper h1 {
  font-size: 8rem;
  font-weight: bold;
}
#wrapper h2 {
  font-size: 3rem;
  font-weight: normal;
}

footer {
  display: none;
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
  padding: 1rem 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer p {
  font-size: 1.4rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

#tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

#tooltip:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}

#map-wrapper {
  display: flex;
  width: 100vw;
  height: 95vh;
  align-items: center;
  position: relative;
}

#map-svg {
  height: 100%;
  width: 100%;
  display: block;
}
#map-svg g {
  stroke-width: 0.5;
  stroke-linejoin: round;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#map-svg g:hover {
  stroke: white;
  stroke-width: 2;
  z-index: 1 !important;
  transform: scale(1.1);
  pointer-events: auto;
}

#region-image {
  display: block;
  height: 100%;
  width: 40%;
}
#region-image svg {
  height: 100%;
  width: 100%;
}
#region-image svg path {
  stroke-width: 0.5;
  stroke-linejoin: round;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#region-image svg path:hover,
#region-image svg .selected {
  stroke: white;
  stroke-width: 2;
  z-index: 1 !important;
  transform: scale(1.05);
  pointer-events: auto;
}
#region-image svg #ncr:hover {
  stroke-width: 0.5;
  transform: none !important;
}

#region-wrapper {
  padding: 5rem;
  background-color: white;
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
  overflow: auto;
}
#region-wrapper h1 {
  font-size: 4rem;
}
#region-wrapper p {
  font-weight: normal;
  margin-bottom: 2rem;
}

#region-content {
  display: flex;
  height: 100%;
  width: 100%;
}

#region-header {
  margin: auto;
  text-align: center;
  font-size: 5rem;
}

#region-details {
  padding: 2rem;
  height: 100%;
  width: 60%;
  font-weight: bold;
  font-size: 2rem;
}

#province-wrapper {
  display: none;
}

#region-xiii:hover path {
  fill: #dcccff;
}

#region-xii:hover path {
  fill: #e6ccfb;
}

#region-xi:hover path {
  fill: #c1ccfb;
}

#region-x:hover path {
  fill: #9cccfa;
}

#region-ix:hover path {
  fill: #78cce9;
}

#region-viii:hover path {
  fill: #53ccd9;
}

#region-vii:hover path {
  fill: #2bccc7;
}

#region-vi:hover path {
  fill: #00ccb3;
}

#region-v:hover path {
  fill: #00cca2;
}

#region-ivb:hover path {
  fill: #00cc91;
}

#region-iva:hover path {
  fill: #00cc80;
}

#region-iii:hover path {
  fill: #00cc6f;
}

#region-ii:hover path {
  fill: #00cc5e;
}

#region-i:hover path {
  fill: #00cc4d;
}

#armm:hover path {
  fill: #c7ccf4;
}

#map #ncr {
  stroke-width: 0.5;
  stroke-linejoin: round;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#map #ncr:hover {
  stroke: white;
  stroke-width: 2;
  z-index: 1 !important;
  transform: scale(1.5);
  pointer-events: auto;
  fill: #b0cce2;
}

#car:hover path {
  fill: #99ccd1;
}

/*# sourceMappingURL=style.css.map */
