@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@font-face {
  font-family: "SF Pro Display";
  src: url(../res/fonts/SF-Pro-Display-Regular.otf) format("opentype");
}
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  background-color: white;
  font-size: 10px;
  width: 100%;
  font-family: "SF Pro Display";
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
body {
  height: auto;
  min-height: 100%;
  background-color: #fffee1;
}

svg {
  cursor: default;
}

.marker {
  height: 32px;
  position: absolute;
  z-index: 9999;
  transform: translate(-50%, -100%); /* Center the marker on the clicked point */
}

.bold {
  font-size: bold;
}

.modal-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.full-width {
  min-width: 100% !important;
}

.detail-name {
  font-weight: bold;
  min-width: 30%;
  max-width: 50%;
}

.detail-name-large {
  font-weight: bold;
  font-size: 3rem;
  min-width: 30%;
  max-width: 50%;
}

.dropdown {
  min-width: 100%;
  background-color: #c9d2c3;
  border-radius: 25px;
  padding: 2rem;
}
.dropdown .detail-name {
  min-width: 100%;
}
.dropdown.open .dropdown-content {
  display: block;
  font-size: 1.75rem;
}

#team-display {
  display: flex;
  gap: 5rem;
}

.member {
  background-color: #FF9900;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  height: 45rem;
  border-radius: 20px;
}

.member-image {
  border-radius: 20px 20px 0 0;
  width: 100%;
  background-color: #002a0e;
  height: 38rem;
}

.member-name {
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

.member-role {
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
}

#logo-dark {
  display: none;
}

#tooltip {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 15px;
  padding: 1.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#region-code {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

#region-name {
  color: black;
  font-size: 1.3rem;
}

#area,
#barangays {
  color: grey;
  font-size: 1.3rem;
}

#area {
  padding-top: 1rem;
}

#barangays {
  padding-bottom: 1rem;
}

#languages span {
  background-color: #002a0e;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
}

.dropdown-indicator {
  float: right;
}

.dropdown-content {
  display: none;
  font-weight: normal;
  min-width: 100%;
  padding-top: 2rem;
}

.bottom-2-rem {
  margin-bottom: 2rem;
}

.detail-content {
  font-weight: normal;
  min-width: 50%;
  max-width: 70%;
  text-align: right;
}

.detail-content-only {
  font-weight: normal;
  width: 100%;
  text-align: left;
}

.language-box {
  background-color: #002a0e;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem 2rem;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

.bar-container {
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
}

.language-bar {
  padding: 1rem;
  border-radius: 10px;
  min-width: 100%;
  display: flex;
}

.language-name {
  text-align: center;
  margin: 0 auto;
}

.language-percentage {
  text-align: right;
}

.language-name,
.language-percentage {
  float: left;
  font-size: 1.3rem;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

#navbar {
  top: 0;
  position: absolute;
  background-color: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  padding-left: 3rem;
  z-index: 100;
}
#navbar img {
  margin: auto;
  height: 50px;
}

#navbar-buttons {
  position: absolute;
  float: left;
  display: flex;
  flex-direction: row;
  vertical-align: center;
}
#navbar-buttons button {
  font-size: 2rem;
  margin: 0 1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: none;
  color: #fffee1;
  text-decoration: underline transparent;
}
#navbar-buttons button:hover {
  cursor: pointer;
  transition: 1s;
  text-decoration-color: #fffee1;
}
#navbar-buttons #navbar-close {
  color: #002a0e;
  display: none;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
#navbar-buttons #navbar-close:hover {
  text-decoration: none;
}

#home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

#home-wrap {
  height: 100%;
  width: 100%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#map {
  padding: 0;
  background-color: white;
}

.home-image {
  position: fixed;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  transform: translateZ(-10px) scale(2);
  transform-origin: bottom center;
  opacity: 10%;
}

#start {
  cursor: pointer;
  margin-top: 5rem;
  padding: 2rem 7rem;
  background-color: #173f2a;
  color: #fffee1;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.align-center {
  text-align: center;
  align-items: center;
}

section {
  height: 100vh;
  width: 100%;
}

#wrapper {
  height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
  perspective: 10px;
  -webkit-font-smoothing: antialiased;
  perspective-origin: bottom center;
  background-color: #002a0e;
  color: #fffee1;
  scroll-behavior: smooth;
}
#wrapper h1 {
  font-size: 8rem;
  font-weight: bold;
}
#wrapper h2 {
  font-size: 3rem;
  font-weight: normal;
}

#team-wrap {
  background-color: #FFFEE1;
  display: none;
  flex-direction: column;
  gap: 5rem;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

#team-nav {
  display: flex;
  color: black;
}
#team-nav label {
  border-radius: 20px;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
}
#team-nav input {
  display: none;
}
#team-nav input:checked + label {
  font-weight: normal;
  color: #FFFEE1;
  background-color: #002A0E;
}

.highlight-text {
  color: black;
  display: block;
  font-size: 6rem;
}

footer {
  display: none;
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
  padding: 1rem 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer p {
  font-size: 1.4rem;
}

#minimize-modal {
  display: none;
}

#minimize-modal,
#maximize-modal {
  border-radius: 50px;
  color: white;
  background-color: #00ac59;
  height: 30px;
  width: 30px;
  border-color: transparent;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  align-items: center;
  float: right;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}
#minimize-modal:hover,
#maximize-modal:hover {
  transition: 0.4s;
  background-color: #002a0e;
}
#minimize-modal svg,
#maximize-modal svg {
  vertical-align: middle;
  margin: auto;
  padding: 4px;
  height: 25px;
  width: 25px;
}

.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-weight: bold;
  flex-grow: 0;
  background-color: black;
  border-radius: 50px;
  border: none;
  font-weight: 300;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.modal-close:hover,
.modal-close:focus {
  background-color: white;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

#map-wrapper {
  display: flex;
  width: 100vw;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 100;
}

#map-svg {
  height: 100%;
  width: 100%;
  display: block;
}
#map-svg g {
  stroke-width: 0.5;
  stroke-linejoin: round;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#map-svg g:hover {
  stroke: white;
  stroke-width: 2;
  z-index: 1 !important;
  transform: scale(1.1);
  pointer-events: auto;
}

#modal-wrapper {
  padding: 5rem;
  display: none;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  position: fixed;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  animation: zoomIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-wrapper h1 {
  font-size: 4rem;
}
#modal-wrapper.out {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  height: 100%;
  width: 90%;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#top-content {
  padding-right: 5rem;
}
#top-content button {
  margin: 0.3rem;
}

#center-content {
  display: flex;
  flex-direction: row;
  max-height: 90%;
  padding: 2rem 0;
  justify-content: space-between;
}

#bottom-content {
  display: flex;
  justify-content: right;
  padding-right: 5rem;
}
#bottom-content button {
  cursor: pointer;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin: 0 0.5rem;
  border-width: 2px;
  border-style: solid;
  transition: 0.5s;
}

#footer-close {
  border-color: rgb(0, 42, 14);
  background: white;
  color: #002a0e;
}
#footer-close:hover {
  background: #002a0e;
  color: white;
}

#back,
#next {
  border: none;
  background: #002a0e;
  color: white;
}
#back:hover,
#next:hover {
  border: 2px solid rgb(0, 42, 14);
  color: #002a0e;
  background: white;
}

#modal-left {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 50%;
  position: relative;
}
#modal-left h1,
#modal-left h2 {
  text-align: center;
}
#modal-left h1 {
  font-size: 4rem;
}
#modal-left h2 {
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
}

#modal-right {
  height: 100%;
  width: 50%;
}
#modal-right hr {
  margin-bottom: 2rem;
}

#modal-details {
  background: #f3ffec;
  border-radius: 50px;
  padding: 8rem;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}
#modal-details img {
  margin-bottom: 2rem;
  border-radius: 30px;
  width: 100%;
}

#location-image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

#modal-image {
  position: absolute;
  display: flex;
  flex: auto;
  align-items: center;
  height: 100%;
  width: 100%;
}
#modal-image svg {
  margin: auto;
  height: 70%;
  width: 85%;
}
#modal-image svg path {
  stroke-width: 0.5;
  stroke-linejoin: round;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#modal-image svg path:hover,
#modal-image svg .selected {
  stroke: white;
  stroke-width: 2;
  z-index: 1 !important;
  transform: scale(1.05);
  pointer-events: auto;
}
#modal-image svg #ncr:hover {
  stroke-width: 0.5;
  transform: none !important;
}

#region-xiii:hover path {
  fill: #dcccff;
}

#region-xii:hover path {
  fill: #e6ccfb;
}

#region-xi:hover path {
  fill: #c1ccfb;
}

#region-x:hover path {
  fill: #9cccfa;
}

#region-ix:hover path {
  fill: #78cce9;
}

#region-viii:hover path {
  fill: #53ccd9;
}

#region-vii:hover path {
  fill: #2bccc7;
}

#region-vi:hover path {
  fill: #00ccb3;
}

#region-v:hover path {
  fill: #00cca2;
}

#region-ivb:hover path {
  fill: #00cc91;
}

#region-iva:hover path {
  fill: #00cc80;
}

#region-iii:hover path {
  fill: #00cc6f;
}

#region-ii:hover path {
  fill: #00cc5e;
}

#region-i:hover path {
  fill: #00cc4d;
}

#armm:hover path {
  fill: #c7ccf4;
}

#map #ncr {
  stroke-width: 0.5;
  stroke-linejoin: round;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#map #ncr:hover {
  stroke: white;
  stroke-width: 2;
  z-index: 1 !important;
  transform: scale(1.5);
  pointer-events: auto;
  fill: #b0cce2;
}

#car:hover path {
  fill: #99ccd1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 1rem 0;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media (max-width: 991.98px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1199.98px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1399.98px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1599.98px) {
  html {
    font-size: 7px;
  }
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
