@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@font-face {
  font-family: "SF Pro Display";
  src: url(../res/fonts/SF-Pro-Display-Regular.otf) format("opentype");
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  background-color: white;
  font-size: 10px;
  width: 100%;
  font-family: "SF Pro Display";
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
body {
  height: auto;
  min-height: 100%;
  background-color: #fffee1;
}

.marker {
  height: 32px;
  position: absolute;
  z-index: 9999;
  transform: translate(
    -50%,
    -100%
  ); /* Center the marker on the clicked point */
}

.bold {
  font-size: bold;
}

.modal-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.column {
  flex-direction: column;
}

.full-width {
  min-width: 100% !important;
}

.detail-name {
  font-weight: bold;
  min-width: 30%;
  max-width: 50%;
}

.detail-name-large {
  font-weight: bold;
  font-size: 3rem;
  min-width: 30%;
  max-width: 50%;
}

.bottom-2-rem {
  margin-bottom: 2rem;
}

.detail-content {
  font-weight: normal;
  min-width: 50%;
  max-width: 70%;
  text-align: right;
}

.detail-content-only {
  font-weight: normal;
  width: 100%;
  text-align: left;
}
// .language-box-container {
//   margin-top: 1rem;
//   display: flex;
//   justify-content: space-evenly;
// }

.language-box {
  background-color: #002a0e;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.75rem 2rem;
  //margin-left: 5rem;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

.bar-container {
  //padding: 1rem;
  background-color: grey;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
}

.language-bar {
  padding: 1rem;
  border-radius: 10px;
  min-width: 100%;
  display: flex;
}

.language-name {
  text-align: center;
  margin: 0 auto;
}

.language-percentage {
  text-align: right;
}

.language-name,
.language-percentage {
  float: left;
  font-size: 1.3rem;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

#navbar {
  top: 0;
  position: absolute;
  background-color: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  padding-left: 3rem;
  img {
    margin: auto;
    height: 50px;
  }
}

#navbar-buttons {
  position: absolute;
  float: left;
  display: flex;
  flex-direction: row;
  //width: 50%;
  //margin-right: auto;
  button {
    font-size: 2rem;
    margin: 0 1rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    color: #fffee1;
    text-decoration: underline transparent;
  
    &:hover {
      cursor: pointer;
      transition: 1s;
      text-decoration-color: #fffee1;
    }
  }
}

#home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

#home-wrap {
  height: 100%;
  width: 100%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#map {
  padding: 5rem 0;
  background-color: #fffee1;
}

.home-image {
  position: fixed;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  transform: translateZ(-10px) scale(2);
  transform-origin: bottom center;
  opacity: 10%;
}

#start {
  cursor: pointer;
  margin-top: 5rem;
  padding: 2rem 7rem;
  background-color: #173f2a;
  color: #fffee1;
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.align-center {
  text-align: center;
  align-items: center;
}
section {
  height: 100vh;
  width: 100%;
}

#wrapper {
  height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
  perspective: 10px;
  -webkit-font-smoothing: antialiased;
  perspective-origin: bottom center;
  background-color: #002a0e;
  color: #fffee1;
  scroll-behavior: smooth;

  h1 {
    font-size: 8rem;
    font-weight: bold;
  }

  h2 {
    font-size: 3rem;
    font-weight: normal;
  }
}

footer {
  display: none;
  width: 100%;
  //height: 100%;
  text-align: center;
  border-top: 2px solid black;
  padding: 1rem 0;
  position: absolute;
  left: 0;
  bottom: 0;
  p {
    font-size: 1.4rem;
  }
}

#minimize-modal {
  display: none;
}

#minimize-modal,
#maximize-modal {
  border-radius: 50px;
  color: white;
  background-color: #00ac59;
  height: 30px;
  width: 30px;
  border-color: transparent;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  align-items: center;
  float: right;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));

  &:hover {
    transition: 0.4s;
    background-color: #002a0e;
  }
  svg {
    vertical-align: middle;
    margin: auto;
    padding: 4px;
    height: 25px;
    width: 25px;
  }
}

.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-weight: bold;
  flex-grow: 0;
  background-color: black;
  border-radius: 50px;
  border: none;
  font-weight: 300;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

.modal-close:hover,
.modal-close:focus {
  background-color: white;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

#map-wrapper {
  display: flex;
  width: 100vw;
  height: 95vh;
  align-items: center;
  position: relative;
}

#map-svg {
  height: 100%;
  width: 100%;
  display: block;
  g {
    stroke-width: 0.5;
    stroke-linejoin: round;
    transition: all 0.5s;
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
  g:hover {
    stroke: white;
    stroke-width: 2;
    z-index: 1 !important;
    transform: scale(1.1);
    pointer-events: auto;
  }
}

#modal-wrapper {
  padding: 5rem;
  display: none;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
  position: fixed;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
  }
}

#modal-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  //padding-right: 0rem;
  height: 100%;
  width: 90%;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
}

#top-content {
  padding-right: 5rem;
  button {
    margin: 0.3rem;
  }
}

#center-content {
  display: flex;
  flex-direction: row;
  max-height: 90%;
  padding: 2rem 0;
  justify-content: space-between;
}

#bottom-content {
  display: flex;
  justify-content: right;
  //height: 100%;
  //padding: 2rem 0;
  padding-right: 5rem;
  button {
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin: 0 0.5rem;
    border-width: 2px;
    border-style: solid;
    transition: 0.5s;
  }
}

#footer-close {
  border-color: rgba(0, 42, 14, 1);
  background: white;
  color: #002a0e;

  &:hover {
    background: #002a0e;
    color: white;
  }
}

#back,
#next {
  border: none;

  background: #002a0e;
  color: white;

  &:hover {
    border: 2px solid rgba(0, 42, 14, 1);
    color: #002a0e;
    background: white;
    //transition: 0.5s;
  }
}

#modal-left {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 50%;
  //justify-content: center;
  position: relative;
  //align-items: center;
  //padding: 10rem 0;
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    // margin: auto;
    font-size: 4rem;
    //height: 10%;
  }
  h2 {
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
  }
}

#modal-right {
  height: 100%;
  width: 50%;
  hr {
    margin-bottom: 2rem;
  }
}

#modal-details {
  background: #f3ffec;
  border-radius: 50px;
  padding: 8rem;
  //margin-right: 5rem;
  // background-color: blue;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
  img {
    margin-bottom: 2rem;
    border-radius: 30px;
    width: 100%;
  }
}

#location-image {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}

#modal-image {
  position: absolute;
  display: flex;
  flex: auto;
  align-items: center;
  // background-color: red;
  height: 100%;
  width: 100%;
  svg {
    margin: auto;
    height: 70%;
    width: 85%;

    path {
      stroke-width: 0.5;
      stroke-linejoin: round;
      transition: all 0.5s;
      transform-origin: 50% 50%;
      transform-box: fill-box;
    }

    path:hover,
    .selected {
      stroke: white;
      stroke-width: 2;
      z-index: 1 !important;
      transform: scale(1.05);
      pointer-events: auto;
    }

    #ncr:hover {
      stroke-width: 0.5;
      transform: none !important;
    }
  }
}

#region-xiii {
  &:hover path {
    fill: #dcccff;
  }
}

#region-xii {
  &:hover path {
    fill: #e6ccfb;
  }
}

#region-xi {
  &:hover path {
    fill: #c1ccfb;
  }
}

#region-x {
  &:hover path {
    fill: #9cccfa;
  }
}

#region-ix {
  &:hover path {
    fill: #78cce9;
  }
}

#region-viii {
  &:hover path {
    fill: #53ccd9;
  }
}

#region-vii {
  &:hover path {
    fill: #2bccc7;
  }
}

#region-vi {
  &:hover path {
    fill: #00ccb3;
  }
}

#region-v {
  &:hover path {
    fill: #00cca2;
  }
}

#region-ivb {
  &:hover path {
    fill: #00cc91;
  }
}

#region-iva {
  &:hover path {
    fill: #00cc80;
  }
}

#region-iii {
  &:hover path {
    fill: #00cc6f;
  }
}

#region-ii {
  &:hover path {
    fill: #00cc5e;
  }
}

#region-i {
  &:hover path {
    fill: #00cc4d;
  }
}

#armm {
  &:hover path {
    fill: #c7ccf4;
  }
}

#map #ncr {
  stroke-width: 0.5;
  stroke-linejoin: round;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  &:hover {
    stroke: white;
    stroke-width: 2;
    z-index: 1 !important;
    transform: scale(1.5);
    pointer-events: auto;
    fill: #b0cce2;
  }
}

#car {
  &:hover path {
    fill: #99ccd1;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 2.5rem 0;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
